<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
    </md-button>
    <h2>
      <span class="md-title">Get Lost!</span>
    </h2>
  </div>
</md-toolbar>
